Checks: >
  -*,
  bugprone-*,
  misc-*,
  modernize-*,
  cppcoreguidelines-*,
  performance-*,
  portability-*,
  -modernize-use-trailing-return-type,
  -google-runtime-int,
  -google-runtime-references,
  -misc-non-private-member-variables-in-classes,
  -readability-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -performance-no-int-to-ptr
